
.centered-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font-size: 2rem;
    font-weight: bold;
    color: #071952;
    text-align: center;
    max-width: 90%;
    pointer-events: none;
    text-shadow: #fff 1px 0 10px;

    /* text-shadow: -2px -2px 0 #000, 2px -2px 0 #000,-2px 2px 0 #000,2px 2px 0 #000,-3px 0px 0 #000, 3px 0px 0 #000,0px -3px 0 #000,0px 3px 0 #000; */

}

.highlight-word {
  display: inline-block;
  font-size: 3rem;
}

.foreground-style {
  max-height: 100%;
  position: absolute;
  right: 0vw;
  z-index: 100;
}

.foreground-style-small {
  max-height: 100%;
  position: absolute;
  left: 68vw;
  z-index: 100;
}

.background-style {
  height: 100%;
  position: relative;
}

.background-style-small {
  border-style: none solid none none;
  height: 100%;
  position: absolute;
  left: 15vw;

}

.highlight-word{
  font-size: 3rem;
  font-weight: 900;
   text-shadow: #fff 1px 0 10px;
}
    /* Responsive */
  @media (max-width: 768px) {
  
    .centered-text {
      font-size: 2.5rem;
      /* padding: 1rem; */
    }
  
    .highlight-word {
      display: inline-block;
      font-size: 2rem;
    }
/* 
    .foreground-style {
      max-height: 100%;
      position: absolute;
      right: 0vw;
      z-index: 100;
    }
    
    .foreground-style-small {
      max-height: 100%;
      position: absolute;
      left: 68vw;
      z-index: 100;
    }
    
    .background-style {
      height: 100%;
      position: relative;
    }
    
    .background-style-small {
      border-style: none solid none none;
      height: 100%;
      position: absolute;
      left: 15vw;
    
    } */
  }
  